<div id="receiptBar">
  <button>Delete</button>
  <button>Copy</button>
  <button>Edit</button>
  <h4>Receipt</h4>
  <div ng-repeat="purchase in data.purchases">
    <button ng-click="toggle = !toggle" ng-class="{'red' : toggle}">{{purchase.itemName}}</button>
    <span>{{" $"  + purchase.itemPrice}}</span>
  </div>
  <h4>Total: {{" $" + data.total}}</h4>
  <a href="#/checkOut"><button>Check Out</button></a>
</div>

<div ng-repeat="group in data.menu">
  <div><a href="#/path/{{$index}}">{{group.groupName}}</a></div>
</div>
